
*{
  font-family: Satellite;
  font-size: 20px;
}
.pennies {
  margin: -1rem;
  h3 {
    margin-left: 4rem;
    margin: 0 auto;
  }
}
body {
  background-image: url("../images/background.png");
  background-repeat: repeat-y;
  background-size: 100%;
  background-position: cover;
  font-family: Satelllite;
}
.container{
  padding-top: 5em;
  padding-bottom: 2em;
}
.vol-div{
  margin-left: -3em;
  width: 22em;
}
.coin-img{
  position: fixed;
  top: 46%;
  left: 46%;
}
.org-div{
  width: 25em;
  margin-right: -6em;
}
.h2{
  font-family: Satellite;
  padding-top: 1em;
  padding-bottom: 2em;
}
h3{
  font-family: Satellite;
  padding-bottom: 2em;
}
.heading-padding{
  padding-bottom: 11em;
}
.fa{
  color: white;
}
.fa:hover{
  color: #F7CA10;
}
