
*{
  font-family: Satellite;
  font-size: 20px;
}
.hidden {
  display: none;
}
body {
  background-image: url("../images/background.png");
  background-repeat: repeat-y;
  background-size: 100%;
  background-position: cover;
  font-family: Satelllite;
}
.container{
  padding-top: 5em;
  padding-bottom: 2.5em;
}
.vol-div{
  margin-left: -3em;
  width: 22em;
}
.coin-img{
  position: fixed;
  top: 46%;
  left: 46%;
}
.org-div{
  width: 25em;
  margin-right: -6em;
}
.h2{
  font-family: Satellite;
  padding-top: 1em;
  padding-bottom: 2em;
}
h3{
  font-family: Satellite;
  padding-bottom: 2em;
}
.heading-padding{
  padding-bottom: 11em;
}
.fa{
  color: white;
}
.fa:hover{
  color: #F7CA10;
}

#vol_in_form {
  margin: 2rem 0 14rem 0;
}

#vol_up_form {
  margin: 0 0 8rem 0;
}

#org_in_form {
  margin: 2rem 0 12rem 0;
}

#org_up_form {
  margin: -5rem 0 5rem 0;
}
