.pennies {
  margin: 4rem 0;
  h3 {
    margin-left: 4rem;
  }
}
body {
  background-image: url("../images/background.png");
  background-repeat: repeat-y;
  background-size: 100%;
  background-position: cover;
  font-family: Satelllite;
}
.container{
  padding-top: 5em;
}
*{
  font-family: Satelllite;
}
