
.penny_profile{
  margin: 0 auto;
  width: 100%;
}
.button{
  background: #F7CA10;
  color: #333;
  font-family: Satellite;
  padding: 1em 1.5em;
}
.button:hover, .button:focus{
  background: #F5AB35;
  color: #333;
}


