@font-face {
  font-family: 'Satellite';
<<<<<<< HEAD
  src: url('../fonts/satellite.otf') format('otf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
=======
  src: url('../fonts/satellite.otf') format('otf'),
>>>>>>> 88b6e2557647e1d9c21df1f2b7c0a5fb18b0ac5e
       url('../fonts/satellite.otf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'Satellite Oblique';
<<<<<<< HEAD
  src: url('../fonts/satellite-oblique.otf') format('otf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
=======
  src: url('../fonts/satellite-oblique.otf') format('otf'),
>>>>>>> 88b6e2557647e1d9c21df1f2b7c0a5fb18b0ac5e
       url('../fonts/satellite-oblique.otf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
