@font-face {
  font-family: 'Satellite';
  src: url('../fonts/satellite.otf') format('otf'),
       url('../fonts/satellite.otf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'Satellite Oblique';
  src: url('../fonts/satellite-oblique.otf') format('otf'),
       url('../fonts/satellite-oblique.otf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
