@font-face {
  font-family: 'Satellite';
  src: url('./public/fonts/satellite.otf') format('otf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('./public/fonts/satellite.otf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'Satellite Oblique';
  src: url('./public/fonts/satellite-oblique.otf') format('otf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('./public/fonts/satellite-oblique.otf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
