.footer {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  ul {
    display: block;
    width: 50%;
    margin: 0 auto;
    li {
      margin: 0 auto;
      vertical-align: middle;
      display: inline-block;
      list-style: none;
      padding: 1rem;
    }
  }
}


