th.penny-header{
  align: center;
  height: 3rem;
  font-size: 2rem;
  text-align: center;
}

table.penny {
  margin-bottom: 3rem;
  width: 30rem;
}
.pennies {
  margin-top: 5rem;
  // margin: -1rem;
  &.past {
    margin-left: -5rem;
  }
  &.upcoming {
    margin-right: -3rem;
  }
}

table.list-all {
  margin: 3rem auto;
}
