<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/"><img class="logo" src="images/gptplogo.png"></a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="has-dropdown">
          <a href="#"><li class="three-lines">&#9776;</li></a>
          <ul class="dropdown menu-button">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </li>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li><h2 class="slogan"><i class="fa fa-quote-left"></i> Bringing good companies and good people together. <i class="fa fa-quote-right"></i></h2></li>
      </ul>
    </section>
  </nav>
</div>
<div class="container">
  <div class="row">
    <div class="small-12 medium-12 large-12 columns">
      <h2>Sorry, you are not authorized to see this page. Please log in or sign up!</h2>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-12 large-12 columns">
      <!-- Volunteer div -->
      <div class="small-5 medium-5 large-5 columns vol-div">
          <div class="row">
            <div class="small-12 medium-12 large-12 columns">
            </div>
          </div>
      </div>
      <!-- Coin div -->
      <div class="small-2 medium-2 large-2 columns coin-div">
        <div class="row">
          <div class="small-12 medium-12 large-12 columns">
            <img class="coin-img"src="./images/coin.png">
          </div>
        </div>
      </div>

      <!-- Organizations div -->
      <div class="small-5 medium-5 large-5 columns org-div">
        <div class="row">
          <div class="small-12 medium-12 large-12 columns">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
