<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#"><img class="logo" src="images/gptplogo.png"></a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="has-dropdown">
          <a href="#"><div class="three-lines">&#9776;</div></a>
          <ul class="dropdown menu-button">
            <li><a href="#about" class="scroll">About Us</a></li>
            <li><a href="#contact" class="scroll">Contact Us</a></li>
          </ul>
        </li>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li><h2 class="slogan"><i class="fa fa-quote-left"></i> Bringing good companies and good people together. <i class="fa fa-quote-right"></i></h2></li>
      </ul>
    </section>
  </nav>
</div>

<div class="container">
  <div class="row">
    <div class="small-12 medium-12 large-12 columns three-divs">

      <!-- Volunteer div -->
      <div class="small-5 medium-5 large-5 columns vol-div">
        <div id="vol_div">
          <div class="row">
            <div class="small-12 medium-12 large-12 columns">
              <h2 class="h2">Give a penny...</h2>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 columns">
              <h3>Volunteers</h3>
            </div>
          </div>
          <div class="row heading-padding">
            <div class="small-6 medium-6 large-6 columns">
              <a href="#" class="button" id="vol_in">Sign In</a>
            </div>
            <div class="small-6 medium-6 large-6 columns">
              <a href="#" class="button" id="vol_up">Sign Up</a>
            </div>
            <% if session[:error] %>
              <p><%= session[:error] %></p>
              <%= session[:error] = nil %>
            <% end %>
          </div>
        </div>
          <!-- Volunteer Sign In -->
          <div class="row hidden" id="vol_in_form">
            <form method="post" action="/volunteer-sign-in">
              <fieldset>
                <legend> Volunteer Sign In</legend>
                <div class="row">
                  <div class="large-8 columns">
                    <label>Email</label>
                    <input type="text" name="email" placeholder="Email">
                  </div>
                </div>
                <div class="row">
                  <div class="large-8 columns">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Password">
                  </div>
                </div>
                <input class="button" type="submit" value="Sign In">
              </fieldset>
            </form>
          </div>
          <!-- Volunteer Sign Up Form -->
          <div class="row hidden" id="vol_up_form">
            <form method="post" action="/volunteer-sign-up">
              <fieldset>
                <legend>Volunteer Sign Up</legend>
                <div class="row">
                  <div class="large-8 columns">
                    <label>Name</label>
                    <input type="text" name="name" placeholder="Name">
                  </div>
                </div>
                <div class="row">
                  <div class="large-8 columns">
                    <label>Email</label>
                    <input type="text" name="email" placeholder="Email">
                  </div>
                </div>
                <div class="row">
                  <div class="large-8 columns">
                    <label>Password</label>
                    <input type="text" name="password" placeholder="Password">
                  </div>
                </div>
                <div class="row">
                  <div class="large-8 columns">
                    <label>Age</label>
                    <input type="text" name="age" placeholder="Age">
                  </div>
                </div>
                <input class="button" type="submit" value="Sign Up">
              </fieldset>
            </form>
          </div>
          <!-- About us -->
          <div class="row" id="about">
            <div class="small-12 medium-12 large-12 columns">
              <h3>About Us</h3>
                <p>Take a Penny, Give a Penny aims to make it easier for civic organizations to get the help they need by allowing them to post their volunteer needs online and allowing volunteers to take these opportunities. Whether you are a non-profit organization who is finding it difficult to get enough volunteers for your events or daily needs, or are a good samaritan who wants to help out but doesn't know where to go, Take a Penny, Give a Penny can help bring you together.</p>
            </div>
          </div>
      </div>
      <!-- Coin div -->
      <div class="small-2 medium-2 large-2 columns coin-div">
        <div class="row">
          <div class="small-12 medium-12 large-12 columns">
            <img class="coin-img"src="./images/coin.png">
          </div>
        </div>
      </div>

      <!-- Organizations div -->
      <div class="small-5 medium-5 large-5 columns org-div">
        <div id="org_div">
          <div class="row">
            <div class="small-12 medium-12 large-12 columns">
              <h2 class="h2">Take a penny...</h2>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 columns">
              <h3>Organizations</h3>
            </div>
          </div>
          <div class="row heading-padding">
            <div class="small-6 medium-6 large-6 columns">
              <a href="#" class="button" id="org_in">Sign In</a>
            </div>
            <div class="small-6 medium-6 large-6 columns">
              <a href="#" class="button" id="org_up">Sign Up</a>
             <% if session[:org_error] %>
              <p><%= session[:org_error] %></p>
              <%= session[:org_error] = nil %>
             <% end %>
            </div>
          </div>
        </div>
          <!-- Organization Sign In Form -->
          <div class="row hidden" id="org_in_form">
            <form method="post" action="/organization-sign-in">
              <fieldset>
                <legend>Organization Sign In</legend>
                <div class="row">
                  <div class="large-8 columns">
                    <label>Email</label>
                    <input type="text" name="email" placeholder="Email">
                  </div>
                </div>
                <div class="row">
                  <div class="large-8 columns">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Password">
                  </div>
                </div>
                <input class="button" type="submit" value="Sign In">
              </fieldset>
            </form>
          </div>
          <!-- Organization Sign Up Form -->
          <div class="row hidden" id="org_up_form">
            <form method="post" action="/organization-sign-up">
              <fieldset>
                <legend>Organization Sign Up</legend>
                <div class="row">
                  <div class="large-8 columns">
                    <label>Name</label>
                    <input type="text" name="name" placeholder="Name">
                  </div>
                </div>
                <div class="row">
                  <div class="large-8 columns">
                    <label>Description</label>
                    <input type="text" name="description" placeholder="Description">
                  </div>
                </div>
                <div class="row">
                  <div class="large-8 columns">
                    <label>Phone Number</label>
                    <input type="text" name="phone_num" placeholder="Phone Number">
                  </div>
                </div>
                <div class="row">
                  <div class="large-8 columns">
                    <label>Address</label>
                    <input type="text" name="address" placeholder="Address">
                  </div>
                </div>
                <div class="row">
                  <div class="large-6 columns">
                    <label>Email</label>
                    <input type="text" name="email" placeholder="Email">
                  </div>
                  <div class="large-6 columns">
                    <label>Password</label>
                    <input type="text" name="password" placeholder="Password">
                  </div>
                </div>
                <input class="button" type="submit" value="Sign Up">
              </fieldset>
            </form>
          </div>
          <!-- Contact Us -->
          <div class="row" id="contact">
            <form method="post" action="/contact-us">
              <fieldset>
                <legend>Contact Us</legend>
                <div class="row">
                  <div class="large-8 columns">
                    <label>Name</label>
                    <input type="text" name="name" placeholder="Name">
                  </div>
                </div>
                <div class="row">
                  <div class="large-8 columns">
                    <label>Email</label>
                    <input type="text" name="email" placeholder="Email">
                  </div>
                </div>
                <div class="row">
                  <div class="large-8 columns">
                    <label>Subject</label>
                    <input type="text" name="subject" placeholder="Subject">
                  </div>
                </div>
                <div class="row">
                  <div class="large-8 columns">
                    <label>Message
                      <textarea placeholder="Enter Your Message"></textarea>
                    </label>
                  </div>
                </div>
                <input class="button" type="submit" value="Submit">
              </fieldset>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>

