<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GPTP</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/fonts/font-awesome.scss">
        <style>
          /*  *{
                -webkit-box-sizing: border-box;
                border: 1px solid red;
            }*/
        </style>
    </head>
    <body>
      <%= yield %>
      <script type="text/javascript" src="/js/jquery.min.js"></script>
      <script type="text/javascript" src="/js/foundation.min.js"></script>
      <script type="text/javascript" src="/js/foundation.topbar.js"></script>
      <script type="text/javascript" src="/js/foundation.dropdown.js"></script>
      <script type="text/javascript">
            $(document).foundation();
      </script>
    </body>
</html>
