<!-- Left Header Title -->
<% content_for :nav_name do %>
  <h3 class="user">Volunteers</h3>
<% end %>

<!-- Right Section: 1st button -->
<% content_for :button do %>
  <a href="/all-organizations" class="button">Organizations</a>
<% end %>

<!-- Right Section: 2nd Button -->
<% content_for :button2 do %>
  <a href="/all-pennies" class="button">Pennies</a>
<% end %>

<!-- Volunteer Table Header -->
<% content_for :table_header do %>
  <th>Name</th>
  <th>Age</th>
<% end %>

<!-- Volunteer Table rows (All Volunteer info)-->
<% content_for :table_content do %>
  <% if @result[:success?] %>
    <% @result[:result].each do |entity| %>
      <tr>
        <td><%= entity.name %></td>
        <td><%= entity.age %></td>
      </tr>
    <% end %>
  <% end %>
<% end %>
