<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>GPTP</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <% yield_content :button %>
</head>
<body>
<!-- Top Bar -->
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Logo</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li>
          <h2>Name</h2>
        </li>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-form">
          <a href="#" class="button">Organizations</a>
        </li>
        <li class="has-form">
          <a href="#" class="button">Pennies</a>
        </li>
      </ul>
    </section>
  </nav>

  <!-- body -->
  <div class="row">
    <div class="small-12 medium-12 large-12 columns">
      <div class="small-6 medium-6 large-6 columns" id="past_pennies" style="background-color: red">
        <p>Past Pennies</p>
      </div>
      <div class="small-6 medium-6 large-6 columns" id="upcoming_pennies" style="background-color: yellow">
        <p>Upcoming Pennies</p>
      </div>
    </div>
  </div>
  <!-- footer -->
  <div class="footer">
    <ul>
      <li>Logo</li>
      <li>Twitter</li>
      <li>Facebook</li>
    </ul>
  </div>
  <script src="/js/foundation.min.js"></script>
</body>
</html>


