/*
Syntax error: Invalid CSS after "...les/_body.scss"": expected "{", was ";"
        on line 52 of ./public/sass/foundation.scss

47:   "./mystyles/_footer.scss",
48:   "./mystyles/_body.scss",
49:   "./mystyles/_buttons.scss",
50:   "./mystyles/_variables.scss",
51:   "./mystyles/_forms.scss";
52:   "./mystyles/_body.scss";

Backtrace:
./public/sass/foundation.scss:52
/vagrant/GPTP/vendor/bundle/gems/sass-3.3.7/lib/sass/scss/parser.rb:1312:in `expected'
/vagrant/GPTP/vendor/bundle/gems/sass-3.3.7/lib/sass/scss/parser.rb:1248:in `expected'
/vagrant/GPTP/vendor/bundle/gems/sass-3.3.7/lib/sass/scss/parser.rb:1243:in `tok!'
/vagrant/GPTP/vendor/bundle/gems/sass-3.3.7/lib/sass/scss/parser.rb:640:in `block'
/vagrant/GPTP/vendor/bundle/gems/sass-3.3.7/lib/sass/scss/parser.rb:634:in `ruleset'
/vagrant/GPTP/vendor/bundle/gems/sass-3.3.7/lib/sass/scss/parser.rb:659:in `block_child'
/vagrant/GPTP/vendor/bundle/gems/sass-3.3.7/lib/sass/scss/parser.rb:652:in `block_contents'
/vagrant/GPTP/vendor/bundle/gems/sass-3.3.7/lib/sass/scss/parser.rb:116:in `stylesheet'
/vagrant/GPTP/vendor/bundle/gems/sass-3.3.7/lib/sass/scss/parser.rb:41:in `parse'
/vagrant/GPTP/vendor/bundle/gems/sass-3.3.7/lib/sass/engine.rb:409:in `_to_tree'
/vagrant/GPTP/vendor/bundle/gems/sass-3.3.7/lib/sass/engine.rb:274:in `render'
/vagrant/GPTP/vendor/bundle/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/vagrant/GPTP/vendor/bundle/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/vagrant/GPTP/vendor/bundle/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `each'
/vagrant/GPTP/vendor/bundle/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/vagrant/GPTP/vendor/bundle/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:393:in `on_file_changed'
/vagrant/GPTP/vendor/bundle/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:248:in `block in watch'
/vagrant/GPTP/vendor/bundle/gems/sass-3.3.7/vendor/listen/lib/listen/listener.rb:252:in `call'
/vagrant/GPTP/vendor/bundle/gems/sass-3.3.7/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/vagrant/GPTP/vendor/bundle/gems/sass-3.3.7/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/vagrant/GPTP/vendor/bundle/gems/sass-3.3.7/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/vagrant/GPTP/vendor/bundle/gems/sass-3.3.7/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/vagrant/GPTP/vendor/bundle/gems/sass-3.3.7/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...les/_body.scss\"\": expected \"{\", was \";\"\A         on line 52 of ./public/sass/foundation.scss\A \A 47:   \"./mystyles/_footer.scss\",\A 48:   \"./mystyles/_body.scss\",\A 49:   \"./mystyles/_buttons.scss\",\A 50:   \"./mystyles/_variables.scss\",\A 51:   \"./mystyles/_forms.scss\";\A 52:   \"./mystyles/_body.scss\";"; }
