/*
Syntax error: Invalid CSS after "}": expected "}", was ""
        on line 41 of public/sass/mystyles/_body.scss
        from line 48 of ./public/sass/foundation.scss

36:   margin: 4rem 0;
37:   h3 {
38:     margin-left: 4rem;
39:   }
40: }

Backtrace:
public/sass/mystyles/_body.scss:41
./public/sass/foundation.scss:48
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/scss/parser.rb:1312:in `expected'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/scss/parser.rb:1248:in `expected'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/scss/parser.rb:1243:in `tok!'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/scss/parser.rb:642:in `block'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/scss/parser.rb:634:in `ruleset'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/scss/parser.rb:659:in `block_child'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/scss/parser.rb:649:in `block_contents'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/scss/parser.rb:116:in `stylesheet'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/scss/parser.rb:41:in `parse'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/engine.rb:409:in `_to_tree'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/engine.rb:305:in `to_tree'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:295:in `block in visit_import'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/stack.rb:88:in `block in with_import'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/stack.rb:88:in `with_import'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/stack.rb:79:in `block in with_base'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/stack.rb:79:in `with_base'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `visit'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `map'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:151:in `visit'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:8:in `visit'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/root_node.rb:36:in `css_tree'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/root_node.rb:20:in `render'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/engine.rb:274:in `render'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `each'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:393:in `on_file_changed'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:248:in `block in watch'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/vendor/listen/lib/listen/listener.rb:252:in `call'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/vagrant/gptp/vendor/bundle/gems/sass-3.3.7/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 41 of public/sass/mystyles/_body.scss\A         from line 48 of ./public/sass/foundation.scss\A \A 36:   margin: 4rem 0;\A 37:   h3 {\A 38:     margin-left: 4rem;\A 39:   }\A 40: }"; }
